<!--The content below is only a placeholder and can be replaced.-->
<div class ="container">
    <div style="text-align:center">
        <h1>
            <img width="80" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="70" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="60" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="50" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="40" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="30" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="20" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="10" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
                {{ title }}
          <img width="10" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="20" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="30" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="40" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="50" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="60" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="70" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
          <img width="80" src="../assets/Funky-Hairstyles-For-Short-Hair.jpg">
        </h1>
        
        <img width="500" src="../assets/stock-vector-disco-party-astronauts-dancing-men-and-women-pop-art-retro-comic-book-vector-cartoon-hand-drawn-1035240475.jpg">
      </div>
      
<router-outlet></router-outlet>
</div>

<h2>WEBSITE LINKS:</h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.amazon.com/">Amazon</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.myntra.com/">Myntra</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.target.com/">Target</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
